<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>New York Times</title>

  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">New York Times</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">world</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">science</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post_title}}</h1>

        <!-- Author -->
        <p class="lead1">
          
          <a href="#">{{post_section | uppercase}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p class="lead2">Posted on {{post_date | date}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{post_image}}" alt="">

        <hr>

        <!-- Post Content -->
        <div class="lead">{{post_content}}{{post_content}}{{post_content}}
            {{post_content}}
            
        </div>

        <hr>

        <!-- Comments Form -->
      

        <!-- Single Comment -->
      

        <!-- Comment with nested comments -->
        

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
       

      
        <!-- Side Widget -->
        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      
    </div>
    <!-- /.container -->
  </footer>

  
</body>

</html>
