h2 {
    color: black;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  h5 {
    color: rgb(90, 86, 86);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  img {
    float: left;
  }
  a.navbar-brand{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .nav-item{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  